*{
    margin: 0;
    padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: gray;
}

#root {
  display: flex;
  flex-direction: column;
}

.game {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  perspective: 800px;

  height: 100%;
}

.info {
  display: flex;
  gap: 40px;
  font-size: 23px;
  opacity: 0.9;
  transform: translateZ(10px);
}

.pokemon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform-style: preserve-3d;
  transform: translateZ(40px);
}

.pokemon img {
  width: 300px;
  object-fit: contain;
  image-rendering: pixelated;
  transform: scale(1.1) translateY(-10px);
  transition: transform 0.2s ease;
}

.pokemon::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 80%;
  width: 220px;
  height: 40px;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  filter: blur(6px);
  transform: translateX(-50%);
  z-index: -1;
}

.equipes {
  position: absolute;
  top: 30px;
  opacity: 0.8;
  transform: translateZ(-20px);
}

.dresseur{
    position: absolute;
bottom: 80px;
margin: 10px;
display: flex;
flex-direction: row;
width: 100%;
;

button{
    height: 50px;
    width: 50px;
}

}
